@media all and (min-width:1024px) and (max-width:1400px) { 
.about{
    padding: 0 35px;
    margin-bottom: 200px;
}
.about__contain{
    gap: 80px;
}
.about__text {
    font-size: 19px;
    transform: translateY(100px);
}
.process-item:nth-child(2) { top: calc( var(--center) - 18em ); padding-bottom: calc( var(--center-p) + 18em ); }
.process-item:nth-child(3) { top: calc( var(--center) - 13em  ); padding-bottom: calc( var(--center-p) + 13em ); }
.process-item:nth-child(4) { top: calc( var(--center) - 8em  ); padding-bottom: calc( var(--center-p) + 8em ); }
.process-item:nth-child(5) { top: calc( var(--center) - 3em  ); padding-bottom: calc( var(--center-p) + 3em ); }
.process-item:nth-child(6) { top: calc( var(--center) + 19em  ); padding-bottom: calc( var(--center-p) - 15em ); }
.process-item p::before {
    display: none;
}
.about__text{
    font-size: 1.2rem;
    max-width: 770px;
    
}
#scroll-section-2 .sticky-ele{
    width: 445px;
    margin: 0 auto;
    font-size: 1rem;
    left: 5%;
}   
.detailsWrapper{
    width: 50%;
}
.photos {
    width: 38.5vw;
    height: 38.5vw;
}
.details h4{
    font-size: 3.6rem;
}
.details .headline{
    font-size: 15px;
}

} 
@media all and (min-width:768px) and (max-width:1023px){
    .about__contain{
        gap: 0;
    }
    .about__sidebar{
        padding-left: 26px;
        width: 210px;
    }
    .about__process{
        padding: 0 30px 0 0;
    }
    .process-item.type_none{
        margin-top: 0;
        top: calc( var(--center) - 16em ); 
        padding-bottom: 0;
    }
    .process-item:nth-child(2) { top: calc( var(--center) - 18em ); padding-bottom: calc( var(--center-p) + 18em ); }
    .process-item:nth-child(3) { top: calc( var(--center) - 13em  ); padding-bottom: calc( var(--center-p) + 13em ); }
    .process-item:nth-child(4) { top: calc( var(--center) - 8em  ); padding-bottom: calc( var(--center-p) + 8em ); }
    .process-item:nth-child(5) { top: calc( var(--center) - 3em  ); padding-bottom: calc( var(--center-p) + 3em ); }
    .process-item:nth-child(6) { top: calc( var(--center) + 23em  ); padding-bottom: calc( var(--center-p) - 23em ); }
    .process-item p::before{
        display: none;
    }
    .about__text {
        font-size: 19px;
    }
    .contents_tit h2{
        font-size: 5.5em;
    }
    #scroll-section-2 .sticky-ele{
        left: 40px;
        left: 5%;
    }
    .tit_list li p{
        font-size: 4.5em;
    }
    .txt_list li p{
        font-size: 1.1em;
    }
    .work__list li{
        gap: 100px;
    }
    .work4 .work__left p{
        flex-direction: column;
    }
    .contact__btn{
        width: 40vw;
        height: 40vw;
    }
    .detailsWrapper{
        width: 65%;
     }
     .photos {
         width: 40vw;
         height: 40vw;
     }
     .details h4{
         font-size: 3rem;
     }
     .details .headline{
         font-size: 15px;
     }
}
@media all and (max-width:768px){ 
    body{
        font-size: 14px;
    }
    header #menu_btn{
        left: 0;
        right: 0;
    }
    .selected #main_menu ul{
        padding-top: 110px;
    }
    .about__contain{
        top: 0;

    }
    .about__sidebar{
        display: none;
    }
    /* .process-item{
        justify-content: center;
    } */
    .process-item p::before{
        display: none;
    }
    .about__process{
        padding: 0 24px;
    }
    .about__process,
    .about__text{
        font-size: 19px;
    }
    .process-item p{
        /* width: 60%; */
    }
    
    .process-item.type_none{
        margin-top: 0;
        top: calc( var(--center) - 16em ); 
        padding-bottom: 0;
    }
    .process-item:nth-child(2) { top: calc( var(--center) - 16em ); padding-bottom: calc( var(--center-p) + 16em ); }
    .process-item:nth-child(3) { top: calc( var(--center) - 11em  ); padding-bottom: calc( var(--center-p) + 11em ); }
    .process-item:nth-child(4) { top: calc( var(--center) - 6em  ); padding-bottom: calc( var(--center-p) + 6em ); }
    .process-item:nth-child(5) { top: calc( var(--center) - 1em  ); padding-bottom: calc( var(--center-p) + 1em ); }
    .process-item:nth-child(6) { top: calc( var(--center) + 30em  ); padding-bottom: calc( var(--center-p) - 30em ); display: none; }
    .about__text_M{
        display: block;
        padding: 0 24px;
        font-size: 17px;
        line-height: 2.6em;
        letter-spacing: -0.73px;
        word-break: keep-all;
    }
    /* skill */
    
    .skills{
        display: block;
    }
    .only_m{
        display: block;
        right: 0;
        width: 100%;
        height: 100%;
        background: var(--pastelColor);
    }
    .left_box {
        width: 100%;
        z-index: 1;
    }
    .right_box{
        display: none;
    }
    .contents_tit h2{
        font-size: 6em;
    }
    #scroll-section-2 .sticky-ele{
        top: 40%;
    }
    .tit_list li p{
        opacity: 0.2;
        font-size: 6.5em;
        /* margin-right: 100%; */
    }
    .txt_list li p{
        color: var(--white);
        font-size: 2.1em;
    }
    .work__list{
        padding: 20px 0;
    }
    .project__banner{
        height: 500px;
    }
    .banner-img{
        height: 300px;
    }
    .work__list li{
        flex-direction: column;
    }
    .work__left{
        width: 100%;
        align-items: center;
    }
    .work__right{
        width: 70%;
    }
    .work__list li{
        gap: 30px;
    }
    .work__left h4 {
        text-align: center;
    }
    .site_btn{
        padding: 14px 30px;
    }
    .contact__btn{
        width: 50vw;
        height: 50vw;
    }
    .detailsWrapper{
        width: 65%;
     }
     .photos {
         width: 40vw;
         height: 40vw;
     }
     .details h4{
         font-size: 3rem;
     }
     .details .headline{
         font-size: 15px;
     }
    .js_item p{
        text-align: center;
    }
    .js_content::before{
        display: none;
    }
    .js_list{
        align-items: center;
    } 
}
@media all and (max-width:576px){
    .process-item{
        /* justify-content: space-around; */
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .txt_list li p{
        /* color: var(--white); */
        font-size: 1.6em;
    }
    .process-item p {
        font-size: 19px;
        font-weight: 400;
        letter-spacing: -0.73px;
        line-height: 2rem;
    }
    .process-item p::before{
        display: none;
    }
    .about__process{
        padding: 0 24px;
    }
    .about__process,
    .about__text{
        font-size: 19px;
    }
    .process-item p{
        /* width: 60%; */
        width: 100%;
    }
    
    .process-item.type_none{
        margin-top: 0;
        top: calc( var(--center) - 16em ); 
        padding-bottom: 0;
    }
    .process-item:nth-child(2) { top: calc( var(--center) - 16em ); padding-bottom: calc( var(--center-p) + 16em ); }
    .process-item:nth-child(3) { top: calc( var(--center) - 8em  ); padding-bottom: calc( var(--center-p) + 8em ); }
    .process-item:nth-child(4) { top: calc( var(--center) - 1em  ); padding-bottom: calc( var(--center-p) + 1em ); }
    .process-item:nth-child(5) { top: calc( var(--center) + 6em  ); padding-bottom: calc( var(--center-p) - 6em ); }
    .process-item:nth-child(6) { top: calc( var(--center) + 30em  ); padding-bottom: calc( var(--center-p) - 30em ); display: none;}
    .about__text_M{
        display: block;
        padding: 0 24px;
        font-size: 17px;
        line-height: 2.6em;
        letter-spacing: -0.73px;
        word-break: keep-all;
    }


}
@media all and (max-width:479px) {
    body{
        font-size: 14px;
    }
    header #menu_btn{
        left: 0;
        right: 0;
    }
    .selected #main_menu ul{
        padding-top: 110px;
    }
    .about__contain{
        top: 0;
    }
    .about__sidebar{
        display: none;
    }
    .process-item{
        /* justify-content: space-around; */
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .process-item p {
        font-size: 19px;
        font-weight: 400;
        letter-spacing: -0.73px;
        line-height: 2rem;
    }
    .process-item p::before{
        display: none;
    }
    .about__process{
        padding: 0 24px;
    }
    .about__process,
    .about__text{
        font-size: 19px;
    }
    .process-item p{
        /* width: 60%; */
        width: 100%;
    }
    
    .process-item.type_none{
        margin-top: 0;
        top: calc( var(--center) - 16em ); 
        padding-bottom: 0;
    }
    .process-item:nth-child(2) { top: calc( var(--center) - 16em ); padding-bottom: calc( var(--center-p) + 16em ); }
    .process-item:nth-child(3) { top: calc( var(--center) - 8em  ); padding-bottom: calc( var(--center-p) + 8em ); }
    .process-item:nth-child(4) { top: calc( var(--center) - 1em  ); padding-bottom: calc( var(--center-p) + 1em ); }
    .process-item:nth-child(5) { top: calc( var(--center) + 6em  ); padding-bottom: calc( var(--center-p) - 6em ); }
    .process-item:nth-child(6) { top: calc( var(--center) + 30em  ); padding-bottom: calc( var(--center-p) - 30em ); display: none;}
    .about__text_M{
        display: block;
        padding: 0 24px;
        font-size: 17px;
        line-height: 2.6em;
        letter-spacing: -0.73px;
        word-break: keep-all;
    }

    /* skill */
    .contents_tit h2{
        transform: translateY(-110%);
    }
    
    .skills{
        display: block;
    }
    .only_m{
        display: block;
        right: 0;
        width: 100%;
        height: 100%;
        background: var(--pastelColor);
    }
    .left_box {
        width: 100%;
        z-index: 1;
    }
    .right_box{
        display: none;
    }
    .contents_tit h2{
        font-size: 6em;
    }
    #scroll-section-2 .sticky-ele{
        top: 40%;
    }
    .tit_list li p{
        opacity: 0.2;
        font-size: 6.5em;
        /* margin-right: 100%; */
    }
    .txt_list li p{
        color: var(--white);
        font-size: 1.5em;
    }
    .work__list{
        padding: 20px 0;
    }
    .project__banner{
        height: 500px;
    }
    .banner-img{
        height: 300px;
    }
    .work__list li{
        flex-direction: column;
    }
    .work__left{
        width: 100%;
        align-items: center;
    }
    .work__list li{
        gap: 30px;
    }
    .work__left h4 {
        text-align: center;
    }
    .site_btn{
        padding: 14px 30px;
    }
    .contact__btn{
        width: 50vw;
        height: 50vw;
    }
    .js_content::before{
        display: none;
    }
    .js_list{
        align-items: center;
    } 
    .left{
        width: 100%;
    }
    .details{
        align-items: center;
        padding: 50px 0;
    }
    .details h4{
        text-align: center;
    }
    .left .photos{
        display: flex;
        position: static;
        width: 60vw;
        height: 60vw;
        
    
    }
    .left .details:nth-child(1) .photos{background-color: #776B5D;}
    .left .details:nth-child(2) .photos{background-color: #8982d9;}
    .left .details:nth-child(3) .photos{background-color: #FFB7B7;}
    .left .details:nth-child(4) .photos{background-color: #69779B;}
    .right{
        display: none;
    }
  }
@media all and (max-width:400px){
    .process-item h2{
        font-size: 1.6em;
    }
    .process-item p {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.73px;
        line-height: 2rem;
    }
    .process-item p::before{
        display: none;
    }
    .about__process{
        padding: 0 24px;
    }
    .about__process,
    .about__text{
        font-size: 19px;
    }
    .process-item p{
        /* width: 60%; */
        width: 100%;
    }
    
    .process-item.type_none{
        margin-top: 0;
        top: calc( var(--center) - 16em ); 
        padding-bottom: 0;
    }
    .process-item:nth-child(2) { top: calc( var(--center) - 11em ); padding-bottom: calc( var(--center-p) + 11em ); }
    .process-item:nth-child(3) { top: calc( var(--center) - 4em  ); padding-bottom: calc( var(--center-p) + 4em ); }
    .process-item:nth-child(4) { top: calc( var(--center) + 2em  ); padding-bottom: calc( var(--center-p) - 2em ); }
    .process-item:nth-child(5) { top: calc( var(--center) + 8em  ); padding-bottom: calc( var(--center-p) - 8em ); }
    .process-item:nth-child(6) { top: calc( var(--center) + 30em  ); padding-bottom: calc( var(--center-p) - 30em ); display: none;}
    .about__text_M{
        display: block;
        padding: 0 24px;
        font-size: 17px;
        line-height: 2.6em;
        letter-spacing: -0.73px;
        word-break: keep-all;
    }
    .tit_list li p{
        opacity: 0.2;
        font-size: 4.5em;
        /* margin-right: 100%; */
    }
    .txt_list li p {
        color: var(--white);
        font-size: 1.3em;
    }
    .marker_blur{
        font-size: 1.5rem;
    }
  }

