@import url(../css/font.css);
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* 16px => 1.6rem으로 변환시킴 */
    background-color: #EDEDED;
    color: #343339;
    min-height: 100vh;
    width: 100%;
}
/* 공통 스타일 */
section{
    padding: 128px 0;
    border-bottom: 1px solid #cec;
}
.img-oval{
 width: 484px;
 height: 726px;
 border-radius: 500px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: 484px 726px;
 position: relative;
}
.btn-oval{
    font-size: 1.6rem;
    padding: 24px 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border-radius: 500px;
    transition: all 0.7s;
}
.featred .title,
.rooms .title{
    margin-bottom: 96px;
}
.txt-area{
    font-family: var(--cabinet_M);
}
.product{
 display: flex;
 flex-direction: column;
 gap: 32px;
 justify-content: center;
 align-items: center;
}
.badge_new::after{
    content: 'new';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 32px;
    width: 80px;
    height: 80px;
    background-color: #343339;
    color: white;
    border-radius: 50%;
    
}
.circle-S{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.circle-M{
    width: 320px;
    height: 320px;
    border-radius: 50%;
}
header{
    position: fixed;
    top: 64;
    z-index: 100;
}
header nav{
    width: 1800px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    height: 1330px;
    background-image: url(../img/SHOP-ModernChair.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-text h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 26rem;
    font-family: var(--newyork_R);
    line-height: 23.4rem;
    color: white;
}
main .btn-oval{
    color: white;
    border:1px solid white;
}
.featred{
    margin: 0 161px;
}
.featred .title{
    font-family: var(--newyork_R);
    font-size: 12.8rem;
    text-align: center;
}
.featred .wrap{
    display: flex;
    justify-content: space-between;
}
.featred .product:nth-child(1) .img-oval{background-image: url(../img/SHOP-ModernChair.jpg);}
.featred .product:nth-child(2) .img-oval{background-image: url(../img/SHOP-ElegantLamp.jpg);}
.featred .product:nth-child(3) .img-oval{background-image: url(../img/SHOP-BlackChair.jpg);}
.product-name{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product-price{
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.about{
    margin: 0 260px;
}
.about .wrap{
    display: flex;
    justify-content: center;
    gap: 80px;

}
.about-left{
    width: 660px;
}
.about .title{
    font-family: var(--newyork_R);
    font-size: 12.8rem;
    line-height: 14rem;
}
.about-right{
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 96px;
}
.about .txt-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 576px;


}
.about .txt-area>p{
    font-family: var(--cabinet_R);
    font-size: 2rem;
    line-height: 3.6rem;
}
.about .btn-oval{
    border: 1px solid #343339;
    background-color: #EDEDED;
}
/* hover 효과 추가하기 */

.main-img{
    padding: 521px 465px;
    background-image: url(../img/MAIN-bg2.jpg);
    background-size: 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #343339;
    opacity: 0.4;
}
.main-img p{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    z-index: 3;
    font-size: 30rem;
    font-family: var(--newyork_R);
    line-height: 27rem;
    opacity: 1;
}
/* .main-img .circle-S{
    position: absolute;
    z-index: 2;
}
.main-img .circle-M{
    position: absolute;
    z-index: 2;
}
.main-img .circle-S:nth-child(1){
    background-image: url(../img/SHOP_BlackChair.png);
    left: 645px;
    top: -107px;
}
.main-img .circle-S:nth-child(2){
    
} */
.rooms{
    margin: 0 160px;
}
.rooms .wrap{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.rooms .title{
    text-align: center
}
.rooms .title p{
    font-family: var(--newyork_R);
    font-size: 16rem;
    line-height: 19.2rem;
    margin-bottom: 32px;
}
.rooms .btn-all{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: var(--cabinet_R);
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.rooms .btn-all::after{
    content: '';
    width: 30px;
    height: 5px;
    background: url(../img/arrow.svg);
}
.room-content{
    display: flex;
    gap: 64px;
    justify-content: center;
}
.room-img{
    position: relative;
    width: 490px;
    height: 490px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.room-content a:nth-child(1) .room-img{
    background-image: url(../img/ROOM-oslo1.jpg);
}
.room-content a:nth-child(2) .room-img{
    background-image: url(../img/ROOM-oslo2.jpg);
}
.room-content a:nth-child(3) .room-img{
    background-image: url(../img/ROOM-lisbon.jpg);
}
.room-img>.overlay{
    position: absolute;
    background-color: #343339;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.3;
}
.room-img>.room-title{
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 6.4rem;
    font-family: var(--newyork_R);
    text-align: center;
    color: white;
}
.ourStores{
    margin: 0 160px;
}
.ourStores>.wrap{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 80px;
}
.ourStores .title{
    font-family: var(--newyork_R);
    font-size: 9.6rem;
    line-height: 10.5rem;
}
.ourStores .store-content{
    display: flex;
    gap: 96px;
}
.ourStores .store{
    width: 752px;
    display: flex;
    gap: 48px;
}
.store-img{
    background-size: 300px 300px;
    background-position: center;
}
.store:nth-child(1)>.store-img{background-image: url(../img/STORE-hamburg.jpg);}
.store:nth-child(2)>.store-img{background-image: url(../img/STORE-lisbon.jpg);}
.store-text{
    width: 404px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.store .store-title{
    font-family: var(--newyork_R);
    font-size: 3.6rem;
    line-height: 4rem;
    
}
.store span{
    font-family: var(--cabinet_R);
    font-size: 1.8rem;
    line-height: 2.9rem;
}
.store .btn-all{
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: var(--cabinet_M);
    font-size: 1.6rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.store .btn-all::after{
    content: url(../img/arrow.svg);
    
}
/* footer{
    

} */
footer .footer-nav{
    padding: 128px 0;   
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-nav > ul{
    display: flex;
    gap: 48px;
}
footer .nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 314px;
}
footer .nav-list > ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;

}
footer .nav-title{
    font-family: var(--newyork_R);
    font-size: 3.2rem;
    text-transform: uppercase;
}
footer .nav-item a{
    font-family: var(--cabinet_R);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.footer-copy{
    padding-bottom: 80px;
    text-align: center;
    font-family: var(--cabinet_R);
    font-size: 1.8rem;
    line-height: 2.9rem;

}
