/* @font-face {
    font-family: 'oswald';
    src: url('../font/Oswald-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'lato-r';
    src: url('../font/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'lato-b';
    src: url('../font/Lato-Bold.ttf') format('truetype');
} */
:root{
    --oswald:  'oswald';
    --lato_r:  'lato-r';
    --lato_b:  'lato-b';
    --point_C: #FF565C;

}
*{
    margin: 0 auto;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}
a{
	text-decoration: none;
    color: #fff;
}
body{
    background: #f2f2f2;
    font-size: 18px;
    font-family: 'oswald';
}
header{
    position: fixed;
    width: 100%;
    min-width: 1440px;
    border-bottom: 1px solid #EBEBEB;
    background-color: #fff;
    z-index: 100;
}
.navi_con{
    padding: 0 40px;
    height: 90px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.navi-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    padding-left: 60px;
}
.navi-left nav a{
    font-size: 14px;
    color: #1D1F24;
    opacity: .2;
}
.navi-left nav a:hover{
    opacity: 1;
}
#menu_btn{
    content: url(../img/icon/icon_menu.svg);
    padding: 10px;
    cursor: pointer;
}
#menu_btn.on{
    content: url(../img/icon/icon_close.svg);
}

#menu_wrap{
    position: fixed;
    top: 0;
    margin-top: 60px;
    right: -300px; 
    z-index: 99;
    overflow: auto;
    width: 300px; 
    height: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    transition: right .3s ease-in-out; 
    background-color: var(--point_C);
}
#menu_wrap.on{
    right: 0;
}
#menu_wrap ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    padding: 50px 0;
}
#menu_wrap li{
    padding: 30px 50px;
    font-size: 32px;
}
#menu_wrap a{
 transition: all .7s ease;
}
#menu_wrap a:hover{
    color: #1D1F24;
}

/* 공통 */
.F24_l{
    font-family: var(--lato_b);
    font-size: 24px;
    line-height: 30px;
}
.F18_l{
    font-family: var(--lato_r);
    font-size: 18px;
    line-height: 26px;
}
.F32_o{
    font-family: var(--oswald);
    font-size: 32px;
    line-height: 49px;
    letter-spacing: -0.47px;
}
.F14_o{
    font-family: var(--oswald);
    font-size: 14px;
}
.T_only,
.M_only{
    display: none;
}
.category{
    display: inline-block;
    text-align: center;
    background-color: var(--point_C);
    color: #fff;
    font-family: var(--oswald);
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    letter-spacing: 1.75px;
}
.card{
    position: relative;
    padding-top: 94px;
    padding-left: 24px;
    word-break: keep-all;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card>p{
    width: 245px;
}
.card>a{
    position: absolute;
    top: 24px;
    left: 0;
}
.cate_bottom{
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 24px;

}
.cate_bottom a{
    display: flex;
    align-items: center;
    gap: 5px;
}
.cate_bottom a:nth-child(1)::before{
    content: url(../img/icon/icon_share.svg);
}
.cate_bottom a:nth-child(2)::before{
    content: url(../img/icon/icon_views.svg);
}
.cate_bottom a:nth-child(3)::before{
    content: url(../img/icon/icon_comments.svg);
}

/* main */
main{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 120px;
    padding-top: 130px;
}
section{
    width: 1012px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.slide_wrap{
    width: 100%;
    position: relative;
}
.slide_prev,
.slide_next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
    width: 50px;
    height: 50px;
    background-color: #1D1F24;
    background-repeat: no-repeat;
    background-position: center;
}
.slide_prev:hover,
.slide_next:hover{
    cursor: pointer;
}
.slide_prev{
    left: 0;
    background-image: url(../img/icon/icon_arrowL.svg);

}
.slide_next{
    right: 0;
    background-image: url(../img/icon/icon_arrowR.svg);
}
.visual{
    width: 100%;
    height: 580px;
    background-image: url(../img/bg_main.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
}
.visual .cate_bottom{
    left: 50%;
    transform: translate(-50%, 0);
}
.txtBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.txtBox a{
    margin-bottom: 40px;
}
.txtBox p{
    width: 593px;
    text-transform: uppercase;
    letter-spacing: -0.47px;
}
.txtBox span{
    width: 483px;
    opacity: .7;
}
/* sub */
.card_con{
    display: flex;
    gap: 32px;
}
div.card_con{
    flex-direction: column;
}
.card_cate{
    display: flex;
    gap: 32px;
}
.featured{
    width: 316px;
    height: 580px;
    background-color: #fff;
    border: 1px solid #f2f3f6;
    padding: 33px 27px;
}
.featured>p{
    color: #1D1F24;
}
.featured a p{
    color: #1D1F24;
    margin-bottom: 30px;
}
.featured a {
    display: flex;
    gap: 20px;
}
.featured li{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: 1px solid #f2f3f6;
    padding-top: 15px;
}
.featured li p:nth-child(1){
    font-family: var(--oswald);
    font-size: 18px;
    color: #DADADB;
}
.featured li:last-child{
    border: none;
}

.entertainment{
    background-image: url(../img/bg_entertainment.png);
    width: 663px;
    height: 274px;
}
.entertainment>p{
    width: 400px;
}
.card_con .finance{
    background-image: url(../img/bg_finance1.png);
    width: 316px;
    height: 274px;
}
.gaming{
    background-image: url(../img/bg_gaming.png);
    width: 316px;
    height: 274px;

}

/* aside */
aside{
    width: 316px;
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.finance2{
    background-image: url(../img/bg_finance2.png);
    height: 274px;
    width: 100%
}
.news{
    display: flex;
    gap: 34px;
    flex-direction: column;
    justify-content: space-around;
    height: 581px;
    width: 100%;
    background-color: var(--point_C);
    padding: 20px;
}
.news p{
    text-transform: uppercase;
}
.news a{
    width: 210px;
    height: 60px;
    letter-spacing: 0.8px;
    border: 1px solid #fff;
    border-bottom: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.technology{
    background-image: url(../img/bg_technology.png);
    height: 274px;
    width: 100%;
}

/* footer */
footer{
    width: 100%;
    min-width: 1440px;
    background-color: #1D1F24;
}
.footer_con{
    max-width: 1440px;
    height: 160px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy,
.social span{
    font-family: var(--lato_r);
    font-size: 14px;
    line-height: 18px;
    color: #8C8C8F;
}
.footer_nav{
    width: 657px;
    height: 54px;
}
.footer_nav>ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 1.75px;
}
.footer_nav li{
    width: 25%;
}
.footer_right{
    width: 300px;
}
.social{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.social a{
    margin-right: 5px;
}
form{
    display: flex;
    flex-wrap: nowrap;
}
input{
    border: none;
}
#input_E{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 180px;
    height: 35px;
    font-family: var(--lato_r);
    font-size: 14px;
    color: #1D1F24;
    padding-left: 15px;

}
#input_E:focus{
    outline: none;
}
#input_E:focus::placeholder{
    opacity: 0;
}
#input_S{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 120px;
    height: 35px;
    margin-left: -5px;
    background-color: var(--point_C);
    font-family: var(--oswald);
    font-size: 12px;
    letter-spacing: 1.5px;
}
#input_S:hover{
    cursor: pointer;
}
#input_E::-webkit-input-placeholder {
    color: #1D1F24;
    opacity: .4;
  }
#input_E:-ms-input-placeholder {
color: #1D1F24;
opacity: .4;
}
/* 슬라이드 */
.slide_wrap{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 581px;
    user-select: none;
}
.slide_item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: left .15s;
}

/* 반응형 */

  /* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
  @media all and (min-width:480px) and (max-width:768px) {
    header{
        min-width: 768px;
        display: flex;
        justify-content: space-between;
    }
    header nav{
        display: none;
    }
    main{
        flex-direction: column;
        align-items: center;
        max-width: 728px;
        margin: 0 auto;
        gap: 17px;
    }
    section{
        width: 728px;
        gap: 17px;
    }
    .featured{
        width: 294px;
        height: 626px;
    }
    .card_con{
        gap: 17px;
    }
    div.card_con{
        flex-direction: row;
    }
    .card_con .finance,
    .card_con .gaming{
        width: 418px;
    }
    .entertainment{
        display: none;
    }
    .card_cate{
        flex-direction: column;
        gap: 17px;
    }
    .card{
        height: 336px;
    }
    .T_only{
        display: none;
    }
    .gaming .T_only{
        width: 363px;
    }
    aside{
        width: 729px;
        margin: 0 auto;
        gap: 17px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    aside .card{
        width: 356px;
    }
    aside .T_only{
        width: 650px;
    }
    aside>div:nth-child(1){
        order: 3;
    }
    aside>div:nth-child(2){
        order: 1;
        height: 328px;
    }
    aside>div:nth-child(3){
        order: 2;
    }
    footer{
        min-width: 768px;
    }
    .footer_con{
        height: 267px;
        padding: 40px 20px;
    }
    .footer_con{
        display: flex;
        flex-wrap: wrap;
    }
    .footer_left{
        width: 25%;
    }
    .footer_nav{
        padding-left: 80px;
        width: 75%;
        height: 87px;
    }
    .footer_nav ul{
        justify-content: space-between;
    }
    .footer_nav li {
        width: 30%;
    }
    .footer_right{
        width: 728px;
        display: flex;
        gap: 30px;
        margin-top: 45px;
    }
    .social{
        order: 2;
    }
    form{
        order: 1;
    }
  } 
  
  /* 모바일 세로 (해상도 ~ 479px)*/ 
  @media all and (max-width:479px) {
    .M_only{
        display: flex;
    }
    aside .M_only{
        height: 274px;
        background-image: url(../img/bg_finance2.png);
    }
    header{
        min-width: 375px;
        display: flex;
        justify-content: space-between;
    }
    header .navi_con{
        padding: 0 20px;
        height: 70px;
        width: 375px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .card_con{
        flex-direction: column;
        gap: 20px;
    }
    .featured,
    .card_con .finance{
        width: 335px;
    }
    header nav,
    .technology,
    .finance2,
    .news .T_only,
    div.card_con,
    .txtBox>span,
    .slide_prev,
    .slide_next{
        display: none;
    }
    .news{
        gap: 30px;
    }
    main{
        flex-direction: column;
        align-items: center;
        max-width: 335px;
        margin: 0 auto;
        gap: 20px;
    }
    .txtBox>p{
        width: 275px;
        font-family: var(--oswald);
        font-size: 26px;
        letter-spacing: -0.38px;
        line-height: 39px;
    }
    aside{
        width: 335px;
    }
    section{
        width: 335px;
        gap: 20px;
    }

    footer{
        min-width: 375px;
    }
    .footer_con{
        height: 441px;
        padding: 40px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        justify-content: flex-start;
    }
    .footer_left{
        order: 1;
    }
    .footer_nav{
        order: 3;
        width: 100%;
    }
    .footer_nav li {
        width: 50%;
    }
    .footer_right{
        order: 2;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
    .social{
        order: 2;
        /* margin-bottom: 0; */
    }
    form{
        order: 1;
    }

  }


  