<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOOKBOOK</title>
    <link rel="stylesheet" href="../css/shop.css">
   
</head>
<body>
    <header role="header" data-include="../include/header.html"></header>
    <div id="look-overlay">
        <div class="look-modal">
            <div class="modal-content">
                <p class="btn-close">close</p>
                <div class="modal-title">Norwegian Chair</div>
                <a href="//ssssojung.github.io/pb-class/Solve/layout/shop">
                    <div class="look-item" ></div>
                </a>
                <p class="modal-sub">
                    Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Netus et malesuada fames ac turpis egestas integer eget.
                </p>
                <a href="//ssssojung.github.io/pb-class/Solve/layout/shop_single1">
                    <p class="btn-oval">Get Product</p>
                </a>
            </div>
        </div>
    </div>
    <div class="look-inner">
        <div class="look-wrap">
            <div class="temp-bg-back">
                <ul class="look-list backBg">
                    <li>
                        <div class="look-item" data-name="Wood Stool" style="background-image: url(../img/LOOK-WoodStool.jpg);"></div>
                        <div class="look-item" data-name="Wooden Furniture" style="background-image: url(../img/LOOK-WoodenFurniture.jpg);"></div>
                    </li>
                    <li>
                        <div class="look-item" data-name="Blue Chair" style="background-image: url(../img/LOOK-BlueChair.jpg);"></div>
                        <div class="look-item" data-name="Black Chair" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                        <div class="look-item" data-name="Black Chair" style="background-image: url(../img/SHOP-BlackChair2.jpg);"></div>
                    </li>
                    <li>
                        <div class="look-item" data-name="Elegant Lamp" style="background-image: url(../img/SHOP-ElegantLamp.jpg);"></div>
                        <div class="look-item" data-name="Minimal Desk" style="background-image: url(../img/LOOK-MinimalDesk.jpg);"></div>
                    </li>
                    <li>
                        <div class="look-item" data-name="Rattan Table" style="background-image: url(../img/LOOK-RattanTable.jpg);"></div>
                        <div class="look-item" data-name="Modern Chair" style="background-image: url(../img/SHOP-ModernChair.jpg);"></div>
                        <div class="look-item" data-name="Lisbon Sofa" style="background-image: url(../img/SHOP-LisbonSofa.jpg);"></div>
                    </li>
                    <li>
                        <div class="look-item" data-name="Madrid" style="background-image: url(../img/LOOK-Madrid.jpg);"></div>
                        <div class="look-item" data-name="Oslo" style="background-image: url(../img/LOOK-Oslo.jpg);"></div>
                    </li>
                    <li>
                        <div class="look-item" data-name="Cozy Home" style="background-image: url(../img/LOOK-CozyHome.jpg);"></div>
                        <div class="look-item" data-name="Modern Kitchen" style="background-image: url(../img/LOOK-ModernKitchen.jpg);"></div>
                        <div class="look-item" data-name="Retro Chair" style="background-image: url(../img/SHOP-RetroChair.jpg);"></div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    <script src="../../vendor/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">

            $(function(){
                $('.look-item').click(function(){
                    let getData = $(this).attr("data-name");
                    let getStyle = $(this).attr("style");
                    $('#look-overlay').fadeIn();
                    $('#look-overlay .look-item').attr("style",`${getStyle}`);
                    $('#look-overlay .modal-title').text(getData);
                    $('header').hide();
                });
                var LayerPopup = $("#look-overlay");
                $(document).mouseup(function (e){
                    if(LayerPopup.has(e.target).length == 0 ){
                        $('#look-overlay').fadeOut();
                         $('header').show();
                    }
                });
                $('#look-overlay').click(function(){
                    $('#look-overlay').fadeOut();
                    $('header').show();
                });


                const width = $(window).width();
                const height = $(window).height();
                $('.look-inner').on("mousemove , touchmove", function(e) {
                    // console.log(e.originalEvent.touches)
                    // e.originalEvent.touches[0].pageX
                    // e.originalEvent.touches[0].pageY
                    const moveX = (e.pageX - width / 2) / width;
                    const moveY = (e.pageY - height / 2) / height;

                    const backMoveX = -moveX * 500;
                    const backMoveY = -moveY * 500;

                    $('.temp-bg-back').css({
                        transform: `translate(${backMoveX}px, ${backMoveY}px)`
                    });

                     
                    let moveX_M = (e.originalEvent.touches[0].pageX - width /2) / width;
                    let moveY_M = (e.originalEvent.touches[0].pageY - height /2) / height;
                    
                    const backMoveX_M = moveX_M * 300;
                    const backMoveY_M = moveY_M * 300;
                    
                    console.log(
                        backMoveX_M,
                        backMoveY_M

                    )
                    $('.temp-bg-back').css({
                        transform: `translate(${backMoveX_M}px, ${backMoveY_M}px)`
                    });
                });

                $('.look-inner').on("touchmove", function (e) {

  
                    let moveX_M = (e.originalEvent.touches[0].pageX - width /2) / width;
                    let moveY_M = (e.originalEvent.touches[0].pageY - height /2) / height;

                    
                    
                    const backMoveX_M = moveX_M * 300;
                    const backMoveY_M = moveY_M * 300;
                    
                    console.log(
                        backMoveX_M,
                        backMoveY_M

                    )
                    $('.temp-bg-back').css({
                        transform: `translate(${backMoveX_M}px, ${backMoveY_M}px)`
                    });
                })
                
                // let startPoint = 0;
                // let endPoint = 0;
                // //모바일 그래그
                // slide.addEventListener("touchstart",(e)=>{
                //     // console.log("touchstart",e.touches[0].pageX);
                //     startPoint = e.touches[0].pageX;
                // });
                // slide.addEventListener("touchend",(e)=>{
                //     // console.log("touchend", e.changedTouches[0].pageX);
                //     endPoint =  e.changedTouches[0].pageX;
                //     //endPoint<startPOint로 next/prev가 결정
                //     if(startPoint < endPoint){
                //         console.log("prev move");
                //         prevMove();
                //     }else if(startPoint > endPoint){
                //         console.log("next move");
                //         nextMove();
                //     }
                // });

            });

		

          
    </script>
       <script src="../js/script.js"></script>
</body>
</html>