<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">

    <title>SØLVE</title>
    <link rel="stylesheet" href="../css/rooms.css">
</head>
<body>
    <header role="header" data-include="../include/header.html"></header>
    <section class="rooms">
        <!-- <div  class="rooms_slide"> -->
            <ul class="slide_list container">
                <li class="slide_item " style="background-image: url(../img/ROOM-oslo1.jpg);">
                    <div class="overlay">
                        <div class="rooms-title">
                            <p>Oslo</p>
                            <div>
                                <a href="//ssssojung.github.io/pb-class/Solve/layout/oslo_1" class="btn-oval">Explore</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="slide_item " style="background-image: url(../img/ROOM-oslo2.jpg);">
                    <div class="overlay">
                        <div class="rooms-title">
                            <p>Oslo</p>
                            <div>
                                <a href="//ssssojung.github.io/pb-class/Solve/layout/oslo_2" class="btn-oval">Explore</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="slide_item " style="background-image: url(../img/ROOM-lisbon.jpg);">
                    <div class="overlay">
                        <div class="rooms-title">
                            <p>Lisbon</p>
                            <div>
                                <a href="//ssssojung.github.io/pb-class/Solve/layout/lisbon" class="btn-oval">Explore</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        <!-- </div> -->
    </section>
        <style>
                header nav .nav-center a,
                header nav .nav-left a,
                header nav .nav-right a{
                    color: white;
                }
                header nav #btn-menu{
                    background-image: url(../img/menu-toggle.png);
                }
                header nav .cart-num::after{
                    background-color:white;
                    color: #343339;
                }
        </style>
    
    <!-- <script type="text/javascript">
        $(document).ready(function(){
            
            timer();
            var interval;

            resize();
            setTimeout(resize,100);

            function resize(){
                $width = $(window).innerWidth;
                $('.slide_item').css({width: $width});
            };

            $(window).resize(function(){
                resize();
            });
            
    
            function timer(){
                var interval = setInterval(function(){slide()},5000)
            };

            function slide(){
                $('.slide_list').animate({"left":"-100vw"},1500,function(){
                    $(this).css({"left" : 0});
                    $('.slide_list').append($('.slide_list').children('li').eq(0));
                });
            };
        });
    </script> -->
</body>
<script src="../../vendor/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            let d_width = 0; // 브라우저 가로
            let d_height = 0; // 문서 전체의 높이

            function tmp() {
                let con_width = $(window).outerWidth * $('.slide_item').length ; 

                $('.container').css({
                    width: con_width,
                    height: '100vh',
                    position: 'fixed',
                    top: 0,
                    left: 0,
                    display: 'flex'
                });

                $('.slide_item').css({
                    width: con_width / $('.slide_item').length,
                    height: '100vh'
                });

                // slide_item들을 위로 끌어올렸기 때문에 body의 높이는 100vh나 마찬가지인 상태. 
                // 그래서 억지로 전체 slide_item들의 세로크기 만큼 body에 줘야한다.(스크롤 내리기위함) 
                // 이때 높이는 가로영역의 비율과 동일하게 준다. (이후 리미트를 주게 됨으로써 비율의 값이 정해진다.)
                $('body').css({
                    height: '100vh'
                });

                let w_width = $(window).outerWidth(); 
                let w_height = $(window).height() 

                // 스크롤 될때의 리미트
                d_width = con_width - w_width; // 전체 가로값 - 현재 화면의 가로값
                d_height = $('body').height() - w_height // 전체 세로값 - 현재 화면의 세로값
            }

            tmp();
 
            let array = [];
            for(let i=0; i<$('.slide_item').length; i++) {
                array[i] = $('.slide_item').eq(i).offset().left
            }

            let chk = true;
            $('.slide_item').bind('wheel', function(){

                if(chk) {
                    // 휠 일정시간동안 막기
                    chk = false;
                    setTimeout(function(){
                        chk = true;
                    }, 500)

                    // 휠 방향 감지(아래: -120, 위: 120)
                    let w_delta = event.wheelDelta / 120;
                    
                    // 휠 아래로
                    if(w_delta < 0 && $(this).next().length > 0) {
                        $('.container').animate({
                            left: -array[$(this).index()+1]
                        }, 500)
                    }
                    // 휠 위로
                    else if(w_delta > 0 && $(this).prev().length > 0) {
                        $('.container').animate({
                            left: -array[$(this).index()-1]
                        }, 500)
                    }
                }
            });

            let ts;
            $('.slide_item').bind('touchstart', function(e){
                e.stopPropagation();
                ts = e.originalEvent.touches[0].clientY;
            });

            $('.slide_item').bind('touchend', function(e){
                e.stopPropagation();
                let te = e. originalEvent.changedTouches[0].clientY;
                if(ts > te + 5 && $(this).next().length > 0){
                    console.log('touch down');
                    $('.container').animate({
                                left: -array[$(this).index()+1]
                            }, 500)
                } else if(ts < te - 5 && $(this).prev().length > 0){
                    console.log('touch up');
                    $('.container').animate({
                                left: -array[$(this).index()-1]
                            }, 500)
                }
            });
           
            

			//브라우저를 resize했을시를 대비해 박스의 크기는 다시 구해준다.
            $(window).resize(function(){
                for(let i=0; i<$('.slide_item').length; i++) {
                    array[i] = $('.slide_item').eq(i).offset().left
                }
                tmp();
            })

        });
    </script>
    <script src="../js/script.js"></script>
</html>