@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880');
/* font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif; */
@import url('https://fonts.cdnfonts.com/css/chronicle-display?styles=67779,67780,67777');
/* font-family: 'Chronicle Display', sans-serif; */
                                                
                
