@font-face {
    font-family: 'satoshi';
    src: url(../font/Satoshi-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'cabinet_R';
    src: url(../font/CabinetGrotesk-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'cabinet_M';
    src: url(../font/CabinetGrotesk-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'cabinet_B';
    src: url(../font/CabinetGrotesk-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'general_SB';
    src: url(../font/GeneralSans-Semibold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'newyork_R';
    src: url(../font/FontsFree-Net-NewYork.ttf) format('truetype');
  }
  :root{
    --satoshi : 'satoshi';
    --cabinet_M : 'cabinet_M';
    --cabinet_R : 'cabinet_R';
    --cabinet_B : 'cabinet_B';
    --general_SB : 'general_SB';
    --newyork_R : 'newyork_R';
}