<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rooms.css">
    <title>SØLVE</title>
</head>
<body>
    <header role="header" data-include="../include/header.html"></header>
    <section class="room-content">
        <article>
            <div class="title-area">
                <div class="title-left">
                    <p class="room-title">Lisbon</p>
                    <p class="room-sub">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed faucibus turpis in eu mi bibendum neque. 
                    </p>
                </div>
                <div class="title-right">
                    <a href="#none" class="btn-all">rooms</a>
                </div>
            </div>
            <div class="title-img" style="background-image: url(../img/ROOM-lisbon.jpg);">
                <!-- <a class="product-pop" href="#none">
                    <div class="pop-left" style="background-image: url(../img/ROOM-oslo1.jpg);"></div>
                    <div class="pop-right">
                        <div class="product-text">
                            <p class="product-name">Single Sofa</p>
                            <p class="product-price">$ 68.00 USD</p>
                        </div>
                        <img src="../img/room-arrow.png" alt="Single Sofa 구매 바로가기">
                    </div>
                </a> -->
            </div>
        </article>
        <article class="design">
            <div>Norwegian Interior Design</div>
            <p>
                Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Netus et malesuada fames ac turpis egestas integer eget. A diam maecenas sed enim ut sem viverra aliquet eget. Vel fringilla est ullamcorper eget nulla facilisi etiam. Velit egestas dui id ornare arcu odio ut. Felis donec et odio pellentesque diam volutpat commodo sed egestas. Auctor eu augue ut lectus arcu bibendum at varius. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices.<br><br>

                Aenean euismod elementum nisi quis eleifend. Vitae purus faucibus ornare suspendisse sed nisi lacus. Mattis enim ut tellus elementum sagittis. Lectus quam id leo in vitae turpis. Lobortis scelerisque fermentum dui faucibus in ornare quam.<br><br>

                Proin fermentum leo vel orci porta non pulvinar. Diam phasellus vestibulum lorem sed risus ultricies. Quisque egestas diam in arcu cursus. Morbi tincidunt ornare massa eget egestas. Scelerisque eu ultrices vitae auctor eu.<br>
            </p>
        </article>
        <article class="next bottom-line">
            <a class="next-img" href="#none" style="background-image: url(../img/ROOM-berlin.jpg);"></a>
        </article>
        <article class="help">
            <p class="help-left">Help?</p>
            <div class="help-right">
                <div class="help-content">
                    <p>Local Stores</p>
                    <div>
                        <span>Proin fermentum leo vel orci porta non pulvinar. Diam phasellus vestibulum lorem sed risus ultricies.</span>
                        <a class="btn-all" href="#none">Find a Store</a>
                    </div>
                </div>
                <div class="help-content">
                    <p>Local Stores</p>
                    <div>
                        <span>Proin fermentum leo vel orci porta non pulvinar. Diam phasellus vestibulum lorem sed risus ultricies.</span>
                        <a class="btn-all" href="#none">Read the FAQ</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <article role="article" data-include="../include/help.html"></article>
    <footer role="footer" data-include="../include/footer.html"></footer>
    <script src="../js/script.js"></script>
</body>
</html>