<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOOKBOOK</title>
    <link rel="stylesheet" href="../css/shop.css">
</head>
<body>
    <header role="header" data-include="../include/header.html"></header>
    <!-- <div class="look-pop">

    </div> -->
    <section class="look-wrap">
        <!-- <div class="lookbook"> -->
            <ul class="look-list">
                <li>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                </li>
                <li>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                </li>
                <li>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                </li>
                <li>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                </li>
                <li>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                </li>
                <li>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                    <div class="look-item" style="background-image: url(../img/SHOP-BlackChair.jpg);"></div>
                </li>
            </ul>
        <!-- </div> -->
    </section>
    <script src="../../vendor/jquery-1.10.2.min.js"></script>
    <script src="../js/script.js"></script> 
</body>
</html>