<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sølve</title>
    <link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
    <link rel="stylesheet" href="../css/shop.css">
</head>
<body>
    <header role="header" data-include="../include/header.html"></header>
    <section id="details-layout">
        <div class="details-wrap">
            <div><span class="btn-close">close</span></div>
            <div class="details-content">
                <div class="details-title">Details</div>
                <div class="details-text">
                    <p>
                        Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Netus et malesuada fames ac turpis egestas integer eget. A diam maecenas sed enim ut sem viverra aliquet eget. Vel fringilla est ullamcorper eget nulla facilisi etiam. Velit egestas dui id ornare arcu odio ut. Felis donec et odio pellentesque diam volutpat commodo sed egestas. 
                    </p>
                    <br>
                    <ul>
                        <li>
                            Proin fermentum leo vel orci porta non pulvinar
                        </li>
                        <li>
                            Diam phasellus vestibulum 
                        </li>
                        <li>
                            Quisque egestas diam in arcu cursus
                        </li>
                    </ul>
                </div>
            </div>
            <div class="details-content border-top">
                <div class="details-title">Delivery</div>
                <div class="details-text">
                    Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Netus et malesuada fames ac turpis egestas integer eget. A diam maecenas sed enim ut sem viverra aliquet eget. Vel fringilla est ullamcorper eget nulla facilisi etiam.
                </div>
            </div>
            <div class="details-content border-top">
                <div class="details-title">Returns</div>
                <div class="details-text">
                    Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Netus et malesuada fames ac turpis egestas integer eget. 
                </div>
            </div>
        </div>
    </section>
    <section  class="shop-main">
        <div class="img-area" style="background-image: url(../img/SHOP-ElegantLamp.jpg);"></div>
        <div class="main-right">
            <div class="wrap">
                <div class="text-area">
                    <div class="title">Elegant<br>Lamp</div>
                    <p class="price">$ <span>129.00</span> USD</p>
                    <span>
                        Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Netus et malesuada fames ac turpis egestas integer eget.
                    </span>
                </div>
                <div class="btn-area">
                    <div class="btn quantity">
                        <span role="button" class="quantity-btn quantity-minus">-</span>
                        <span class="quantity-num">1</span>
                        <span role="button" class="quantity-btn quantity-plus">+</span>
                    </div>
                    <div role="button" class=" btn addCart">Add to cart</div>
                </div>
                <ul class="details">
                    <li>Details</li>
                    <li>Delivery</li>
                    <li>Returns</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="description bottom-line">
        <div class="description-title">description</div>
        <div class="description-text">
            <p>
                Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Netus et malesuada fames ac turpis egestas integer eget. A diam maecenas sed enim ut sem viverra aliquet eget. Vel fringilla est ullamcorper eget nulla facilisi etiam. Velit egestas dui id ornare arcu odio ut. Felis donec et odio pellentesque diam volutpat commodo sed egestas. Auctor eu augue ut lectus arcu bibendum at varius. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices.
            </p>
            <br>
            <ul>
                <li>
                    Proin fermentum leo vel orci porta non pulvinar
                </li>
                <li>
                    Diam phasellus vestibulum 
                </li>
                <li>
                    Quisque egestas diam in arcu cursus
                </li>
            </ul>
        </div>
    </section>
    <section class="featred bottom-line">
        <div class="title">Featured</div>
        <div class="wrap">
            <a href="#none" class="product">
                <div class="img-oval badge_new"></div>
                <div class="txt-area">
                    <p class="product-name">Modern Chair</p>
                    <p class="product-price">$ 249.00 USD</p>
                </div>
            </a>
            <a href="#none" class="product">
                <div class="img-oval"></div>
                <div class="txt-area">
                    <p class="product-name">Elegant Lamp</p>
                    <p class="product-price">$ 129.00 USD</p>
                </div>
            </a>
            <a href="#none" class="product">
                <div class="img-oval "></div>
                <div class="txt-area">
                    <p class="product-name">Black Chair</p>
                    <p class="product-price">$ 199.00 USD</p>
                </div>
            </a>
        </div>
    </section>
    <footer role="footer" data-include="../include/footer.html"></footer>
    <script src="../../vendor/jquery-1.10.2.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>