<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sølve</title>
    <link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
    <link rel="stylesheet" href="../css/shop.css">
</head>
<body>
    <header role="header" data-include="../include/header.html"></header>
    <section class="shop-content bottom-line">
        <div class="shop-title">SHOP</div>
        <ul class="controls">
            <li class="cate-item active" data-filter="all">all</li>
            <li class="cate-item" data-filter="sofa">sofa</li>
            <li class="cate-item" data-filter="lamp">lamp</li>
            <li class="cate-item" data-filter="chair">chair</li>
        </ul>
        <div class="product-area">
            <a href="/Solvle/layout/shop_single1.html" class="badge_new chair">
                <div class="product-img"></div>
                <div class="product-text">
                    <p class="product-name">Modern Chair</p>
                    <p class="product-price">$ 249.00 USD</p>
                </div>
            </a>
            <a href="/Solvle/layout/shop_single1.html" class="lamp">
                <div class="product-img"></div>
                <div class="product-text">
                    <p class="product-name">Elegant Lamp</p>
                    <p class="product-price">$ 129.00 USD</p>
                </div>
            </a>
            <a href="#none" class="chair">
                <div class="product-img"></div>
                <div class="product-text">
                    <p class="product-name">Black Chair</p>
                    <p class="product-price">$ 199.00 USD</p>
                </div>
            </a>
             <a href="#none" class="sofa">
                <div class="product-img"></div>
                <div class="product-text">
                    <p class="product-name">Lisbon Sofa</p>
                    <p class="product-price">$ 1699.00 USD</p>
                </div>
            </a>
            <a href="#none" class="chair">
                <div class="product-img"></div>
                <div class="product-text">
                    <p class="product-name">Retro Chair</p>
                    <p class="product-price">$ 399.00 USD</p>
                </div>
            </a>
            <a href="#none" class="chair">
                <div class="product-img"></div>
                <div class="product-text">
                    <p class="product-name">Black Chair</p>
                    <p class="product-price">$ 199.00 USD</p>
                </div>
            </a>
        </div>
    </section>
    <article role="article" data-include="../include/help.html"></article>
    <footer role="footer" data-include="../include/footer.html"></footer>
    <script src="../../vendor/jquery-1.10.2.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>