@import url(../../css/reset.css);
@import url(../css/font.css);
@import url(../css/common.css);
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    /* 16px => 1.6rem으로 변환시킴 */
    background-color: #EDEDED;
    color: #343339;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  /* body::-webkit-scrollbar {
    display: none;
  } */
/* 공통 스타일 */
section{
    padding: 128px 0;
}
.bottom-line{
    border-bottom: 1px solid #CECECE;
}
.img-oval{
 width: 484px;
 height: 726px;
 border-radius: 500px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: 484px 726px;
 position: relative;
}
.btn-oval{
    font-size: 1.6rem;
    padding: 24px 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border-radius: 500px;
    transition: all 0.7s;
}
.featured .title,
.rooms .title{
    margin-bottom: 96px;
}
.txt-area{
    font-family: var(--cabinet_M);
}
.product{
 display: flex;
 flex-direction: column;
 gap: 32px;
 justify-content: center;
 align-items: center;
}
.badge_new::after{
    content: 'new';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 32px;
    width: 80px;
    height: 80px;
    background-color: #343339;
    color: white;
    border-radius: 50%;
    font-size: 1.6rem;
    font-family: var(--cabinet_B);
    
}
.circle-S{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
main{
    height: 1330px;
    background-image: url(../img/SHOP-ModernChair.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    position: absolute;
    top: 25%;
    z-index: 2;

}
.main-text h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 12.7vw;
    font-family: var(--newyork_R);
    line-height: 13vw;
    color: white;
}
main .btn-oval{
    color: white;
    border:1px solid white;
}
.featured{
    /* margin: 0 161px; */
}
.featured .title{
    font-family: var(--newyork_R);
    font-size: 12.8rem;
    text-align: center;
}
.featured .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding: 0  3.5rem;
    /* justify-content: space-between; */
}
.featured .txt-area{
  text-align: center;
}
.featured .product:nth-child(1) .img-oval{background-image: url(../img/SHOP-ModernChair.jpg);}
.featured .product:nth-child(2) .img-oval{background-image: url(../img/SHOP-ElegantLamp.jpg);}
.featured .product:nth-child(3) .img-oval{background-image: url(../img/SHOP-BlackChair.jpg);}
.product-name{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.product-price{
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* .about{
  height: 100vh;
} */
.about .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 0 3.5rem;

}
.about-left{
    width: 660px;
}
.about .title{
    font-family: var(--newyork_R);
    font-size: 12.8rem;
    line-height: 14rem;
}
.about-right{
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 96px;
}
.about .txt-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.about .txt-area>p{
    font-family: var(--cabinet_R);
    font-size: 2rem;
    line-height: 3.6rem;
}
.about .btn-oval{
    border: 1px solid #343339;
    background-color: #EDEDED;
}
/* hover 효과 추가하기 */


/* main-banner */
.main-banner{
    width: 100vw;
    height: 300vh;
    background-image: url(../img/MAIN-bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0;
    background-repeat: no-repeat;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #343339;
    opacity: 0.2;
}
.main-banner .text-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  top: 0;
}
.main-banner .aniEle2{
    color: white;
    text-transform: uppercase;
    font-size: 30rem;
    font-family: var(--newyork_R);
    line-height: 27rem;
    opacity: 0;
    
}
.main-banner .circle-wrap{
  width: 100vw;
  height: 100vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
  position: relative;
  
  /* position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgba(255, 0, 0, 0.164); */
  /* display: flex;
  flex-direction: column; */
}

.main-banner .aniEle3{
  /* position: absolute; */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    min-width: 142px;
    min-height: 142px;
    z-index: 1;
}
.main-banner .aniEle3:nth-child(1){ background-image: url(../img/LOOK-WoodenFurniture.jpg); grid-column: 1/2; grid-row: 1/2;}
.main-banner .aniEle3:nth-child(2){ background-image: url(../img/SHOP-BlackChair2.jpg); grid-column: 2/3; grid-row: 2/3;}
.main-banner .aniEle3:nth-child(3){ background-image: url(../img/SHOP-ElegantLamp.jpg); grid-column: 4/5; grid-row: 2/3;}
.main-banner .aniEle3:nth-child(4){ background-image: url(../img/LOOK-RattanTable.jpg); grid-column: 5/6; grid-row: 3/4;}
.main-banner .aniEle3:nth-child(5){ background-image: url(../img/SHOP-ModernChair.jpg); grid-column: 1/2; grid-row: 4/5;}
.main-banner .aniEle3:nth-child(6){ background-image: url(../img/LOOK-WoodStool.jpg); grid-column: 3/4; grid-row: 4/5;}
.main-banner .aniEle3:nth-child(7){ background-image: url(../img/LOOK-BlueChair.jpg); grid-column: 4/5; grid-row: 5/6;}
/* .main-banner .aniEle3:nth-child(1){ background-image: url(../img/LOOK-WoodenFurniture.jpg); grid-area: 1/1/2/2;}
.main-banner .aniEle3:nth-child(2){ background-image: url(../img/SHOP-BlackChair2.jpg); grid-area: 2/2/3/3;}
.main-banner .aniEle3:nth-child(3){ background-image: url(../img/SHOP-ElegantLamp.jpg); grid-area: 2/5/3/6;}
.main-banner .aniEle3:nth-child(4){ background-image: url(../img/LOOK-RattanTable.jpg); grid-area: 4/1/5/2;}
.main-banner .aniEle3:nth-child(5){ background-image: url(../img/SHOP-ModernChair.jpg); grid-area: 3/8/4/8;}
.main-banner .aniEle3:nth-child(6){ background-image: url(../img/LOOK-WoodStool.jpg); grid-area: 4/4/5/5;}
.main-banner .aniEle3:nth-child(7){ background-image: url(../img/LOOK-BlueChair.jpg); grid-area:5/5/6/6;} */


/* .rooms{
   
} */
.rooms .wrap{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 3.5rem;
}
.rooms .title{
    text-align: center
}
.rooms .title p{
    font-family: var(--newyork_R);
    font-size: 16rem;
    line-height: 19.2rem;
    margin-bottom: 32px;
}
.rooms .btn-all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 1.6rem;
    font-family: var(--cabinet_R);
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.rooms .btn-all::after{
    content: '';
    width: 30.5px;
    height: 5px;
    background: url(../img/arrow.svg);
}
.room-content{
    display: flex;
    gap: 64px;
    justify-content: center;
    flex-wrap: wrap;
}
.room-img{
    position: relative;
    width: 490px;
    height: 490px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.room-content a:nth-child(1) .room-img{
    background-image: url(../img/ROOM-oslo1.jpg);
}
.room-content a:nth-child(2) .room-img{
    background-image: url(../img/ROOM-oslo2.jpg);
}
.room-content a:nth-child(3) .room-img{
    background-image: url(../img/ROOM-lisbon.jpg);
}
.room-img>.overlay{
    position: absolute;
    background-color: #343339;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.3;
}
.room-img>.room-title{
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 6.4rem;
    font-family: var(--newyork_R);
    text-align: center;
    color: white;
}
.ourStores{
    /* margin: 0 160px; */
}
.ourStores>.wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    padding: 0 3.5rem;
}
.ourStores .title{
    font-family: var(--newyork_R);
    font-size: 9.6rem;
    line-height: 10.5rem;
}
.ourStores .store-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 96px;
}
.ourStores .store{
    width: 752px;
    display: flex;
    align-items: center;
    gap: 48px;
}
.store-img{
    background-size: 300px 300px;
    background-position: center;
}
.store:nth-child(1)>.store-img{background-image: url(../img/STORE-hamburg.jpg);}
.store:nth-child(2)>.store-img{background-image: url(../img/STORE-lisbon.jpg);}
.store-text{
    width: 404px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.store .store-title{
    font-family: var(--newyork_R);
    font-size: 3.6rem;
    line-height: 4rem;
    
}
.store span{
    font-family: var(--cabinet_R);
    font-size: 1.8rem;
    line-height: 2.9rem;
}
.store .btn-all{
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: var(--cabinet_M);
    font-size: 1.6rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}


/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
      main{
        background-size: 100% auto;
        height: 100vh;
      }
      .main-text h2{
        font-size: 13rem;
        line-height: 13.4rem;
      }
      .featured{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .featured .wrap{
        justify-content: space-around;
      }
      .featured .title{
        font-size: 10.8rem;
      }
      .img-oval{
        width: 230px;
        height: 345px;
        background-size: 100% auto;
      }
      .badge_new::after{
        top: 0;
        right: 0;
      }
      .about{
        margin: 0;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
      }
      .about .wrap{
        gap: 30px;
      }
      .about .title{
        font-size: 8.8rem;
        line-height: 10rem;
      }
      .about .about-left{
        width: 35%;
      }
      .about .about-right{
        width: 50%;
        gap: 75px;
      }
      .about .txt-area{
        height: auto;
      }
      .about .txt-area>p{
        font-size: 1.7rem;
        line-height: 3rem;
        word-break: keep-all;
      }
      .main-banner{
        background-size: cover;
      }
      .main-banner .aniEle2 {
        font-size: 22rem;
      }

      .rooms{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .rooms .title p{
        font-size: 11rem;
        line-height: 14rem;
      }
      .room-content{
        justify-content: space-around;
        gap: 0;
      }
      .room-img{
        width: 240px;
        height: 240px;
      }
      .room-img > .room-title {
        font-size: 4.5rem;
      }
      /* ourStores */
      .ourStores{
        margin: 0;
        display: flex;
        justify-content: space-around;
        padding: 128px 0;
        
      }
      .ourStores .title {
        font-size: 6.6rem;
        line-height: 7.5rem;
      }
      .ourStores .store-content{
        justify-content: space-between;
      }
      .ourStores .store{
        width: auto;
        gap: 25px;
      }
      .circle-S{
        width: 150px;
        height: 150px;
      }
      .store-img{
        background-size: cover;
      }
      .store-text {
        width: auto;
      }
      .store .store-title{
        font-size: 3rem;
        line-height: 3.4rem;
      }
      .store span {
        font-size: 1.6rem;
        line-height: 2.5rem;
      }
      .store .btn-all {
        gap: 10px;
        font-size: 1.3rem;
        letter-spacing: 1.3px;
      }
      .main-banner .circle-wrap{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        width: 100vw;
        height: 100vh;
      }
      .main-banner .aniEle3{
          min-width: 142px;
          min-height: 142px;
      }
      .main-banner .aniEle3:nth-child(1){ background-image: url(../img/LOOK-WoodenFurniture.jpg); grid-column: 1/2; grid-row: 1/2;}
      .main-banner .aniEle3:nth-child(2){ background-image: url(../img/SHOP-BlackChair2.jpg); grid-column: 2/3; grid-row: 2/3;}
      .main-banner .aniEle3:nth-child(3){ background-image: url(../img/SHOP-ElegantLamp.jpg); grid-column: 4/5; grid-row: 2/3;}
      .main-banner .aniEle3:nth-child(4){ background-image: url(../img/LOOK-RattanTable.jpg); grid-column: 3/4; grid-row: 3/4;}
      .main-banner .aniEle3:nth-child(5){ background-image: url(../img/SHOP-ModernChair.jpg); grid-column: 1/2; grid-row: 4/5;}
      .main-banner .aniEle3:nth-child(6){ background-image: url(../img/LOOK-WoodStool.jpg); grid-column: 2/3; grid-row: 5/6;}
      .main-banner .aniEle3:nth-child(7){ background-image: url(../img/LOOK-BlueChair.jpg); grid-column: 4/5; grid-row: 6/7;}
    } 
    
    /* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
    @media all and (min-width:480px) and (max-width:767px) {
          main{
            background-size: cover;
            height: 100vh;
          }
          .main-text h2{
            font-size: 8rem;
            line-height: 8.4rem;
          }
          .featured{
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .featured .wrap{
            /* justify-content: space-around; */
            flex-direction: column;
            gap: 30px;
          }
          .featured .title{
            font-size: 7.8rem;
            margin-bottom: 30px;
          }
          .featured .txt-area{
            text-align: center;
          }
          .img-oval{
            width: 230px;
            height: 345px;
            background-size: 100% auto;
          }
          .badge_new::after{
            width: 60px;
            height: 60px;
            top: 0;
            right: 0;
          }
          .about{
            margin: 0;
            display: flex;
            justify-content: center;
            overflow-x: hidden;
          }
          .about .wrap{
            gap: 30px;
            flex-direction: column;
          }
          .about .title{
            font-size: 6.8rem;
            line-height: 7rem;
          }
          .about .about-left,
          .about .about-right{
            width: 100%;
          }
          .about .about-right{
            gap: 75px;
          }
          .about .txt-area>p{
            font-size: 1.7rem;
            line-height: 3rem;
            word-break: keep-all;
          }
          /* .main-banner{
            background-size: cover;
          } */
          .main-banner .aniEle2{
            font-size: 15rem;
          }
          .rooms{
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .rooms .title{
            margin-bottom: 30px;
          }
          .rooms .title p{
            font-size: 7.8rem;
            line-height: 8rem;
          }
          .room-content{
            justify-content: center;
            gap: 30px;
            align-items: center;
            flex-direction: column;
          }
          .room-img{
            width: 240px;
            height: 240px;
          }
          .room-img > .room-title {
            font-size: 4.5rem;
          }
          .ourStores{
            margin: 0;
            display: flex;
            justify-content: space-around;
            padding: 128px 0;
            
          }
          .ourStores .title {
            font-size: 6.6rem;
            line-height: 7.5rem;
          }
          .ourStores .store-content{
            justify-content: space-between;
          }
          .ourStores .store{
            width: auto;
            gap: 25px;
          }
          .circle-S{
            width: 150px;
            height: 150px;
          }
          .store-img{
            background-size: cover;
          }
          .store-text {
            width: auto;
          }
          .store .store-title{
            font-size: 3rem;
            line-height: 3.4rem;
          }
          .store span {
            font-size: 1.6rem;
            line-height: 2.5rem;
          }
          .store .btn-all {
            gap: 10px;
            font-size: 1.3rem;
            letter-spacing: 1.3px;
          }
          .main-banner .aniEle3{
            min-width: auto;
            min-height: auto;
        }
          .main-banner .circle-wrap{
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            width: 100vw;
            height: 110vh;
          }
          .main-banner .aniEle3:nth-child(1){ background-image: url(../img/LOOK-WoodenFurniture.jpg); grid-column: 1/3; grid-row: 1/3;}
          .main-banner .aniEle3:nth-child(2){ background-image: url(../img/SHOP-BlackChair2.jpg); grid-column: 4/5; grid-row: 3/4;}
          .main-banner .aniEle3:nth-child(3){ background-image: url(../img/SHOP-ElegantLamp.jpg); grid-column: 2/4; grid-row: 4/6;}
          .main-banner .aniEle3:nth-child(4){ background-image: url(../img/LOOK-RattanTable.jpg); grid-column: 4/5; grid-row: 6/7;}
          .main-banner .aniEle3:nth-child(5){ background-image: url(../img/SHOP-ModernChair.jpg); grid-column: 1/3; grid-row: 7/9;}
          .main-banner .aniEle3:nth-child(6){ background-image: url(../img/LOOK-WoodStool.jpg); grid-column: 4/5; grid-row: 9/10;}
          .main-banner .aniEle3:nth-child(7){ background-image: url(../img/LOOK-BlueChair.jpg); grid-column: 2/4; grid-row: 10/12;}

    } 
    
    /* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
    @media all and (max-width:479px) {
        main{
            background-size: cover;
            height: 100vh;
          }
          .main-text h2{
            font-size: 6rem;
            line-height: 6.4rem;
          }
          .featured{
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .featured .wrap{
            flex-direction: column;
            gap: 30px;
          }
          .featured .title{
            font-size: 4.8rem;
            margin-bottom: 30px;
          }
          .featured .txt-area{
            text-align: center;
          }
          .img-oval{
            width: 230px;
            height: 345px;
            background-size: 100% auto;
          }
          .badge_new::after{
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;
          }
          .btn-oval{
            padding: 12px 20px;
            font-size: 1.5rem;
          }
          .about{
            margin: 0;
            display: flex;
            justify-content: center;
            overflow-x: hidden;
          }
          .about .wrap{
            gap: 30px;
            flex-direction: column;
          }
          .about .title{
            font-size: 4.8rem;
            line-height: 5rem;
          }
          .about .about-right{
            width: auto;
            gap: 50px;
          }
          .about .txt-area{
            height: auto;
          }
          .about .txt-area>p{
            font-size: 1.4rem;
            line-height: 2.5rem;
            word-break: keep-all;
          }
          .about .about-left,
          .about .about-right{
            width: 100%;
          }
          .main-banner{
            background-size: cover;
          }
          .rooms{
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .rooms .title{
            margin-bottom: 30px;
          }
          .rooms .title p{
            font-size: 4.8rem;
            line-height: 5rem;
          }
          .room-content{
            justify-content: center;
            gap: 30px;
            align-items: center;
            flex-direction: column;
          }
          .room-img{
            width: 240px;
            height: 240px;
          }
          .room-img > .room-title {
            font-size: 4.5rem;
          }
          .ourStores{
            margin: 0;
            display: flex;
            justify-content: space-around;
            padding: 128px 0;
            
          }
          .ourStores>.wrap{
            gap: 50px;
          }
          .ourStores .title {
            font-size: 4.6rem;
            line-height: 5.5rem;
          }
          .ourStores .store-content{
            justify-content: flex-start;
            flex-direction: column;
            gap: 30px;
          }
          .circle-S{
            width: 120px;
            height: 120px;
          } 
          .store-img{
            background-size: cover;
          }
          .ourStores .store{
            width: auto;
            gap: 20px;
          }
          .store-text {
            width: auto;
            gap: 8px;
          }
          .store .store-title{
            font-size: 3rem;
            line-height: 3.4rem;
          }
          .store span {
            font-size: 1.2rem;
            line-height: 1.5rem;
          }
          .main-banner .aniEle2{
            font-size: 9rem;
          }
          .main-banner .circle-wrap{
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            width: 100vw;
            height: 110vh;
          }
          .main-banner .aniEle3{
              min-width: auto;
              min-height: auto;
          }
          .main-banner .aniEle3:nth-child(1){ background-image: url(../img/LOOK-WoodenFurniture.jpg); grid-column: 1/3; grid-row: 1/3;}
          .main-banner .aniEle3:nth-child(2){ background-image: url(../img/SHOP-BlackChair2.jpg); grid-column: 4/5; grid-row: 3/4;}
          .main-banner .aniEle3:nth-child(3){ background-image: url(../img/SHOP-ElegantLamp.jpg); grid-column: 2/4; grid-row: 4/6;}
          .main-banner .aniEle3:nth-child(4){ background-image: url(../img/LOOK-RattanTable.jpg); grid-column: 4/5; grid-row: 6/7;}
          .main-banner .aniEle3:nth-child(5){ background-image: url(../img/SHOP-ModernChair.jpg); grid-column: 1/3; grid-row: 7/9;}
          .main-banner .aniEle3:nth-child(6){ background-image: url(../img/LOOK-WoodStool.jpg); grid-column: 4/5; grid-row: 9/10;}
          .main-banner .aniEle3:nth-child(7){ background-image: url(../img/LOOK-BlueChair.jpg); grid-column: 2/4; grid-row: 10/12;}
          /* .store .btn-all {
            gap: 10px;
            font-size: 1.3rem;
            letter-spacing: 1.3px;
          } */
          /* .store .btn-all::after {
            content: '';
            width: 30.5px;
            height: 5px;
            background: url(../img/arrow.svg);
          } */

    }

