@import url(../../css/reset.css);
@import url(../css/font.css);
@import url(../css/common.css);

html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
}
body{
    /* 16px => 1.6rem으로 변환시킴 */
    background-color: #EDEDED;
    color: #343339;
    min-height: 100vh;
    width: 100%;
}
/* section{
    margin: 0 auto;
    width: 1920px;
} */
header{
    background: transparent;
}
header nav .nav-center a,
header nav .nav-left a,
header nav .nav-right a{
    color: #343339;
}
header nav #btn-menu{
    background-image: url(../img/menu-toggleB.png);
}
header nav .cart-num::after{
    background-color:#343339;
    color: white;
}
.bottom-line{
    border-bottom: 1px solid #CECECE;
}
.shop-content{
    padding-top: 195px;
}
.shop-title{
    font-family: var(--newyork_R);
    text-align: center;
    font-size: 22rem;
    margin-bottom: 128px;
}
.controls{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 32px 0;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}
.cate-item{
    font-family: var(--cabinet_M);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    /* display: inline-block; */
    position: relative;
    padding: 5px;
}
.cate-item::after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background-color: #343339;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
}
.controls li.active::after,
.controls li:hover::after{
    width: 100%;
}
.product-area{
    padding: 128px 0;
    width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 96px 0;
}
.product-area > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;   
}
.product-area .product-img{
    background-repeat: no-repeat;
    width: 484px;
    height: 726px;
    border-radius: 500px;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    transition: background-size .3s ease;
}
.product-area .product-img:hover{
    background-size: 110%;
}
.product-area a:nth-child(1) .product-img{background-image: url(../img/SHOP-ModernChair.jpg);}
.product-area a:nth-child(2) .product-img{background-image: url(../img/SHOP-ElegantLamp.jpg);}
.product-area a:nth-child(3) .product-img{background-image: url(../img/SHOP-BlackChair.jpg);}
.product-area a:nth-child(4) .product-img{background-image: url(../img/SHOP-LisbonSofa.jpg);}
.product-area a:nth-child(5) .product-img{background-image: url(../img/SHOP-RetroChair.jpg);}
.product-area a:nth-child(6) .product-img{background-image: url(../img/SHOP-BlackChair2.jpg);}
.badge_new{
    position: relative;
}
.badge_new::after{
    content: 'new';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 32px;
    width: 80px;
    height: 80px;
    background-color: #343339;
    color: white;
    border-radius: 50%;
    font-size: 1.6rem;
    font-family: var(--cabinet_B);
}
.product .txt-area>p{
    font-family: var(--cabinet_M);
    text-transform: uppercase;
}
.product-name{
    font-size: 2rem;
    margin-bottom: 8px;
}
.product-price{
    font-size: 1.6rem;
}

.featured .title{
    margin-bottom: 96px;
}
.featured{
    padding: 128px 0;
    margin: 0 161px;
}
.featured .title{
    font-family: var(--newyork_R);
    font-size: 12.8rem;
    text-align: center;
}
.featured .wrap{
    display: flex;
    justify-content: space-between;
}
.featured .product{
 display: flex;
 flex-direction: column;
 gap: 32px;
 justify-content: center;
 align-items: center;
}
.img-oval{
    width: 484px;
    height: 726px;
    border-radius: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    transition: background-size .3s ease;
   }
.featured .product:nth-child(1) .img-oval{background-image: url(../img/SHOP-ModernChair.jpg);}
.featured .product:nth-child(2) .img-oval{background-image: url(../img/SHOP-ElegantLamp.jpg);}
.featured .product:nth-child(3) .img-oval{background-image: url(../img/SHOP-BlackChair.jpg);}
.shop-main {
    display: flex;
    align-items: center;
    /* width: 100vw; */
}
.shop-main .img-area{
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 1200px;
}
.shop-main .main-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-main .wrap{
    width: 640px;
}
.shop-main .text-area .title{
    font-family: var(--newyork_R);
    font-size: 12.8rem;
    line-height: 14rem;
    margin-bottom: 32px;
}
.shop-main .text-area p{
    font-family: var(--cabinet_M);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.shop-main .text-area span{
    font-family: var(--cabinet_R);
    font-size: 2rem;
    line-height: 3.6rem;
}
.shop-main .btn-area{
    padding: 48px 0;
    display: flex;
    gap: 16px;
}
.shop-main .btn-area .btn{
    padding: 24px 40px;
    border-radius: 500px;
    border: 1px solid #343339;
    font-family: var(--cabinet_M);
    font-size: 1.6rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.shop-main .btn-area .quantity{
    width: 193px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-area .quantity > .quantity-btn{
    font-family: var(--cabinet_B);
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    z-index: 1;
    
}
.btn-area .quantity > .quantity-btn:hover::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EDEDED;
    z-index: -1;

}
.btn-area .addCart{
    display: flex;
    align-items: center;
    background-color: #343339;
    color: white;
    cursor: pointer;
    transition: all 0.7s;
}
.btn-area .addCart:hover{
    background-color: white;
    color: #343339;
}
.btn-area .addCart{
    background-color: #343339;
    color: white;
    cursor: pointer;
}
.shop-main .details{
    display: flex;
    gap: 48px;
    width: 640px;
    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    padding: 32px 0;
}
.shop-main .details li{
    font-family: var(--cabinet_M);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.description{
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    padding: 128px 0;
}
.description>div{
    width: 700px;
}
.description .description-title{
    font-family: var(--newyork_R);
    font-size: 3.2rem;
    line-height: 3.52rem;
    text-transform: uppercase;
}
.description .description-text{
    
    padding-left: 80px;
    font-family: var(--cabinet_R);
    font-size: 2.4rem;
    line-height: 4.32rem;
}
.description .description-text li,
#details-layout .details-text li{
    list-style: inside;
}
#details-layout{
    /* opacity: 1; */
    display: none;
    justify-content: flex-end;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background-color: rgba(52, 51, 57, 0.8);
}
/* #details-layout.open{
    
    opacity: 1;
} */
#details-layout .details-wrap{
    width: 50%;
    background-color: #EDEDED;
    padding: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#details-layout .details-wrap > div:nth-child(1){
    text-align: center;
}
#details-layout .btn-close{
    font-family: var(--cabinet_M);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 5px;
}
#details-layout .btn-close::after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background-color: #343339;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
}
#details-layout .btn-close:hover::after{
    width: 100%;
}
#details-layout .details-content{
    padding: 64px 0;
}
#details-layout .details-title{
    font-family: var(--newyork_R);
    font-size: 3.6rem;
    line-height: 39.6px;
    margin-bottom: 24px;
}
#details-layout .details-text{
    font-family: var(--cabinet_R);
    font-size: 1.8rem;
    line-height: 28.8px;
}
.border-top{
    border-top: 1px solid #CECECE;
}

/* lookbook */
 .look-inner { width: 100%; height: 100vh; overflow: hidden; position: fixed;}
 .look-wrap { transform: scale(1.2);}
 .temp-bg-back { transition: 1s ease-out; }
 .backBg { width: 100%; height: 100%;}
 
 .look-list{
    background-color: #EDEDED;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: -12vh;
     
  }
  .look-list > li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    align-items: center;
  }
  .look-item{
    width: 300px;
    height: 450px;
    border-radius: 500px;
    background-size: 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    transition: background-size .3s ease;

  }

  .look-item:hover,
  .img-oval:hover{
    cursor: pointer;
    background-size: 110%;

  }

  #look-overlay{
    position:absolute;
    z-index: 150;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 51, 57, 0.8);
    }
    .look-modal{
        background-color: #ededed;
        width: 600px;
        height: 100vh;
        text-align: center;
        position: relative;
        z-index: 1;
        top: 0%;
        bottom: 0%;
        left: 50%;
        left: 50%;
        right: auto;
        overflow: scroll;
        transform: translate(-50%);
        padding: 64px 48px;
    }
    #look-overlay p.btn-close{
        font-family: var(--cabinet_M);
        font-size: 1.6rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding: 5px;
    }
    #look-overlay .btn-close::after{
        content: '';
        position: absolute;
        bottom: -2px;
        width: 0%;
        height: 1px;
        background-color: #343339;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s;
    }
    #look-overlay .btn-close:hover::after{
        width: 100%;
    }
    #look-overlay .modal-content{
        width: 400px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }
    #look-overlay .btn-oval{
        font-size: 1.6rem;
        padding: 24px 40px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        border-radius: 500px;
        transition: all 0.7s;
        background-color: #343339;
        color: white;
        transition: all 0.7s;
    }
    #look-overlay .btn-oval:hover{
        background-color: #ededed;
        border: 1px solid #343339;
        color: #343339;
    }
    #look-overlay .modal-title{
        font-family: var(--newyork_R);
        font-size: 6.4rem;
        line-height: 7.84rem;
    }
    #look-overlay .modal-sub{
        font-family: var(--cabinet_R);
        font-size: 2rem;
        line-height: 3.6rem;
    }

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    .shop-content{
        width: 100vw;
    }
    .shop-title {
        font-size: 10rem;
    }
    .product-area .product-img{
        width: 230px;
        height: 345px;
        background-size: cover;
    }
    .product-area{
        max-width: 768px;
        justify-content: space-around;
    }

    .featured{
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .featured .wrap{
      justify-content: space-around;
    }
    .featured .title{
      font-size: 10.8rem;
    }
    .img-oval{
      width: 230px;
      height: 345px;
      background-size: 100% auto;
    }
    .badge_new::after{
      top: 0;
      right: 0;
    }

    /* shop_single */
    .shop-main .img-area{
        height: 100vh;
        /* background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat; */
        background-size: cover;
    }
    .shop-main .wrap{
        width: 75%;
    }
    .shop-main .text-area .title{
        font-size: 8.8rem;
        line-height: 10rem;
    }
    .shop-main .text-area span{
        font-size: 1.8rem;
        line-height: 3.5rem;
    }
    .shop-main .details {
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }
    .shop-main .btn-area{
        flex-direction: column;
        padding: 40px 0;
    }
    .shop-main .btn-area .btn {
        padding: 12px 20px;
        width: 190px;
    }
    .shop-main .btn-area .addCart{
        display: flex;
        justify-content: center;
    }

    .description {
        flex-direction: column;
        gap: 50px;
    }
    .description .description-text{
        padding: 0;
    }
    .description>div{
        width: 75%;
        word-break: keep-all;
        margin: 0 auto;
    }

    /* detail */
    #details-layout .details-wrap{
        width: 60%;
    }
    #details-layout .details-wrap{
        padding: 64px 55px;
    }
    #details-layout .details-content {
        padding: 48px 0;
    }
    #details-layout .details-title {
        font-size: 3rem;
        line-height: 3.3rem;
        margin-bottom: 20px;
    }
    #details-layout .details-text {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
    #details-layout .details-text li {
        font-size: 1.4rem;
    }
    .look-item{
        width: 204px;
        height: 306px;
    }


  } 
  
  /* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
  @media all and (min-width:480px) and (max-width:767px) {

    .shop-content{
        width: 100vw;
        padding-top: 100px;
    }
    .shop-title {
        font-size: 9rem;
        margin-bottom: 50px;
    }
    .product-area .product-img{
        width: 140px;
        height: 210px;
        background-size: cover;
    }
    .product-area{
        max-width: 480px;
        justify-content: space-around;
    }
    .product-name{
        font-size: 1.8rem;
    }
    .product-price{
        font-size: 1.4rem;
    }

    .featured{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .featured .wrap{
        /* justify-content: space-around; */
        flex-direction: column;
        gap: 30px;
    }
    .featured .title{
        font-size: 7.8rem;
        margin-bottom: 30px;
    }
    .featured .txt-area{
        text-align: center;
    }
    .img-oval{
        width: 230px;
        height: 345px;
        background-size: 100% auto;
    }
    .badge_new::after{
        width: 60px;
        height: 60px;
        top: 0;
        right: 0;
    }

        /* shop_single */
        .shop-main{
            flex-direction: column;
        }
        .shop-main .img-area{
            height: 100vh;
            width: 100vw;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .shop-main .main-right{
            width: 80%;
            margin-top: -220px;
        }
        .shop-main .text-area .title{
            font-size: 8.8rem;
            line-height: 10rem;
            color: white;
        }
        .shop-main .text-area span{
            font-size: 1.8rem;
            line-height: 3.5rem;
        }
        .shop-main .details {
            width: 100%;
            justify-content: space-between;
            gap: 0;
        }
        .shop-main .btn-area{
            padding: 40px 0;
        }
        .shop-main .btn-area .btn {
            padding: 15px 20px;
            width: 190px;
        }
        .shop-main .btn-area .addCart{
            display: flex;
            justify-content: center;
        }
        .description {
            flex-direction: column;
            gap: 50px;
        }
        .description .description-text{
            padding: 0;
            font-size: 2rem;
            line-height: 4rem;
        }
        .description>div{
            width: 75%;
            word-break: keep-all;
            margin: 0 auto;
        }
        .description .description-text li, 
        #details-layout .details-text li{
            font-size: 1.7rem;
        }

            /* detail */

    #details-layout .details-wrap{
        width: 60%;
    }
    #details-layout .details-wrap{
        padding: 50px;
    }
    #details-layout .details-content {
        padding: 32px 0;
    }
    #details-layout .details-title {
        font-size: 2.5rem;
        line-height: 2.8rem;
        margin-bottom: 20px;
    }
    #details-layout .details-text {
        font-size: 1.5rem;
        line-height: 2.1rem;
    }
    #details-layout .details-text li {
        font-size: 1.2rem;
    }
    .look-item{
        width: 140px;
        height: 210px;
    }
    .look-wrap{
        transform: scale(1.6);
    }
    .look-list{
        margin-top: 0;
        gap: 30px;
    }
    .look-list > li{
        gap: 30px;
    }
    .look-modal {
        width: 100vw;
        display: flex;
    }

  } 
  
  /* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
  @media all and (max-width:479px) {
      
    .shop-content{
        width: 100vw;
        padding-top: 100px;
    }
    .shop-title {
        font-size: 5rem;
        margin-bottom: 50px;
    }
    .cate-item{
        font-size: 1.5rem;
    }
    .product-area .product-img{
        width: 140px;
        height: 210px;
        background-size: cover;
    }
    .product-area{
        max-width: 340px;
        justify-content: space-around;
    }
    .product-name{
        font-size: 1.8rem;
    }
    .product-price{
        font-size: 1.4rem;
    }

        .featured{
          margin: 0;
          padding: 50px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .featured .wrap{
          flex-direction: column;
          gap: 30px;
        }
        .featured .title{
          font-size: 4.8rem;
          margin-bottom: 30px;
        }
        .featured .txt-area{
          text-align: center;
        }
        .img-oval{
          width: 230px;
          height: 345px;
          background-size: 100% auto;
        }
        .badge_new::after{
          top: 0;
          right: 0;
          width: 60px;
          height: 60px;
        }
        .btn-oval{
          padding: 12px 20px;
          font-size: 1.5rem;
        }


        /* shop_single */
        .shop-main{
            flex-direction: column;
        }
        .shop-main .wrap{
            width: 100%;
        }
        .shop-main .img-area{
            height: 100vh;
            width: 100vw;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .shop-main .main-right{
            width: 80%;
            margin-top: -220px;
        }
        .shop-main .text-area .title{
            font-size: 8.8rem;
            line-height: 10rem;
            color: white;
        }
        .shop-main .text-area span{
            font-size: 1.8rem;
            line-height: 3.5rem;
        }
        .shop-main .details {
            width: 100%;
            justify-content: space-between;
            gap: 0;
        }
        .shop-main .details li {
            font-size: 1.4rem;
        }
        .shop-main .btn-area{
            /* flex-direction: column; */
            padding: 40px 0;
        }
        .shop-main .btn-area .btn {
            padding: 15px 20px;
            width: 190px;
        }
        .shop-main .btn-area .addCart{
            display: flex;
            justify-content: center;
            font-size: 1.3rem;
        }
        .description {
            flex-direction: column;
            gap: 30px;
            padding: 50px 0;
        }
        .description .description-title{
            font-size: 2.5rem;
            line-height: 3rem;
        }
        .description .description-text{
            padding: 0;
            font-size: 1.6rem;
            line-height: 3rem;
        }
        .description>div{
            width: 75%;
            word-break: keep-all;
            margin: 0 auto;
        }
        .description .description-text li, 
        #details-layout .details-text li{
            font-size: 1.3rem;
        }

    /* detail */

    #details-layout .details-wrap{
        width: 100%;
        height: 80%;
        margin: auto 0;
    }
    #details-layout .details-wrap{
        padding: 30px;
    }
    #details-layout .details-content {
        padding: 20px 0;
    }
    #details-layout .details-title {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 10px;
    }
    #details-layout .details-text {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
    #details-layout .details-text li {
        font-size: 1.2rem;
    }
    /* look */
    .look-item{
        width: 105px;
        height: 157px;
    }
    .look-wrap{
        transform: scale(1.6);
    }
    .look-list{
        margin-top: 0;
        gap: 30px;
    }
    .look-list > li{
        gap: 30px;
    }
    .look-modal{
        width: 100vw;
        padding: 30px;
    }
    #look-overlay .modal-content{
        width: 100%;
    }
    #look-overlay .modal-title{
        font-size: 5.1rem;
        line-height: 5.8rem;
    }
  }