@import "reset.css";
header{
    width: 1920px;
    min-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    width: 1200px;
    position: relative;
}

  .tabs_contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabs{
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    cursor: pointer;
    color: #999;
    border-bottom: 2px solid transparent;
  }
  .tabs.show {
    color: slateblue;
    border-bottom: 2px solid slateblue;
  }
  .tab{
    background-color: #eee;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;

    /* display: none; */
    max-height: 0;
    transition: max-height 0.5s ease-in;
    transition-delay: 0.1s;
    overflow: hidden;
  }
  .tab.active{
    /* display: block; */
    max-height: 300px;
    transition:max-height 0.5s ease-out;
  }
  .tab>ul{
    display: flex;
    justify-content: center;
  }
  .tab li{
    padding: 20px;
    
  }
  .tab a{
    display: block;
    margin-bottom: 20px;
  }
  .tab a:hover{
    color: slateblue;
  }

/*모달창 */
.show{
  display:flex !important;
}
#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: white;
    box-shadow: 0 8px 32px 0 rgba(15, 16, 37, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 20px;
}
#modal .title {
   display: flex;
   justify-content: center;
}
#modal #close-area {
    display: inline-block;
    float: right;
    cursor: pointer;
}
#modal .content {
    padding: 0px 10px;
}
#modal .sign-in_form input,#modal .sign-in_form>button{
    margin: 12px 0;
    width: 340px;
    height: 48px;
    border-radius: 4px;
    padding: 13px 12px;
}
#modal .sign-in_form input{
    line-height: 1.47;
    font-size: 15px;
    border: 1px solid #dee2e6;
    letter-spacing: -.3px;
    border-radius: 4px;
    background-color: #fff;
    border-radius: 4px;
    
    
}
#modal .sign-in_form>button{
    /* border-color: black; */
    font-weight: 700;
    background-color: black;
    
    color: white;
}
#modal .more_text{
    display: flex;
    justify-content: center;
    gap: 10px;

}
#modal .more_text>li{
    line-height: 1.38;
    letter-spacing: -.3px;
    font-size: 13px;
    font-weight: 400;
    color: #616568;
    border-bottom: 1px solid #858a8d;
    cursor: pointer;
}
#modal .social_sign-in{
    position: relative;
    margin-top: 20px;
}
#modal .social_sign_line{
    bottom: -8px;
    display: block;
    margin: 0;
    width: 100%;
    height: 1px;
    background-color: #f1f3f5;
    border: none;
}
#modal .social_sign-in_title{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 132px;
    top: -7px;
    padding: 0 8px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -.3px;
    color: #abb0b5;
    z-index: 1;
    background-color: #fff;
}
#modal .socail_sign-in_buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}
#modal .social_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    cursor: pointer;
}
#modal .kakao{
    background-color: #fae500;
}
#tabmenu{
  display: flex;
  flex-direction: column;
}
#depth1{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
#depth1>li{
  width: 100px;
  padding:5px 0 ;
  text-align: center;
}
#depth2>li{
  position: relative;
  width: 300px;
  height: 200px;
  display: none;
}
#depth2>li::before{
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 100px;
  height: 4px;
  background-color: rgb(141, 141, 215);
}
#depth2>li::nth-child(2)::before{
  content: "";
  position: absolute;
  top: -4px;
  left: 100;
  width: 100px;
  height: 4px;
  background-color: rgb(184, 224, 123);
}
#depth2>li::nth-child(3)::before{
  content: "";
  position: absolute;
  top: -4px;
  left: 200;
  width: 100px;
  height: 4px;
  background-color: rgba(229, 168, 168);
}
#depth2>li.active{
  display: inline-block;
}