:root{
    --accent-color: #7B61FF;
    --text-color: #161414;
    --sub-color: #979797;
}
body,html{
    min-width: 1440px; 
    margin: 0 auto;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: var(--text-color);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
section h2{
    margin-bottom: 64px;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
}
section>div.title{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.m0{
    margin: 0 !important;
}
section{
    max-width: 1360px; 
    margin: 120px auto;
    padding-bottom: 120px;
}
#hd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    color: white;
    background-color: #030406;
    height: 8rem;
    transition: height 0.2s ease-in-out;
}
#hd.nav-down {
    height: 6rem;
}
#gnb a.activeTab{
    padding: 5px 24px;
    background-color: var(--accent-color);
    border-radius: 4px;
    color: white;
    opacity: 1;
}
#gnb{
    display: flex;
}
#gnb a{
    color: white;
    opacity: 0.7;
    padding: 5px 24px;
}
.user{
    display: flex;
    text-align: right;
    position: relative;
}
.user>div{
    margin-right: 5px;
}
.user img{
    border-radius: 50%;
}
.user>div::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    /* bottom: 0; */
    right: 0;
    /* left: 0; */
    background-color: #FF0000;
    border: 1px solid #161414;
    width: 12px; 
    height: 12px;
    border-radius: 50%;
}
.user>span{
    opacity: 0.5;
}

.m__menuBtn{
    width: 40px;
    padding: 20px 5px;
    display: none;
    right: 60px;
    top: 4px;
    position: absolute;
}
.m__menuBtn:hover{
    cursor: pointer;
}
.m__menuBtn span{
    width: 100%;
    height: 1px;
    background-color: white;
    display: block;
    position: relative;
}
.m__menuBtn span::before,
.m__menuBtn span::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
}
.m__menuBtn span::before{
    top: 10px;
}
.m__menuBtn span::after{
    top: -10px;
}
@media screen and (max-width:768px){
    header{
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }
    #gnb{
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }
    #gnb li{
        width: 100%;
        text-align: center;
    }
    .user{
        justify-content: center;
        width: 100%;
        display: none;

    }
    .m__menuBtn{
        display: flex;
    }
    #gnb.active,
    .user.active{
        display: flex;
    }

}
.btn_more {
    background-color:#F6F4FF;
    line-height: 16px;
    border-radius: 12px;
    padding: 12px 10px; 
    display: flex;
    align-items: center;
    color: var(--accent-color);
    position: relative
}
.btn_more>span::after{
    content: url(../img/icon/btn_more_icon.svg);
    padding: 0 10px;
    display: inline;
}
#main{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 70vh;
    color: white;
    border-radius: 0 0 35px 35px;
}
#main .main_content{
    padding-top: 184px;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    align-items: center;
    justify-content: center;
}
#main .main_content h1{
    padding-bottom: 32px;
}
#main .main_content button{
    background-color: var(--accent-color);
    border-radius: 12px;
    border: none;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 18px;
    padding: 27px 40px;
    margin-bottom: 184px;
    cursor: pointer;
}
#main .searchBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    width: 1140px;
}
#main .inputBox>img{
    padding: 16px;
}
#main input[type=image]{
    background-color: var(--accent-color);
    border-radius: 12px;
    border: none;
    color: white;
    padding: 20px;
    margin-right: 8px;
    cursor: pointer;
}

#popular .popular_content,
#hotels .hotels_content,
#travel .travel_content,
#activities .activities_content{
    display: flex;
    gap: 32px;
}
#popular .popular_content>li{
    width:200px;
    height: 180px;
}
#hotels .hotels_content>li,
#travel .travel_content>li,
#activities .activities_content>li{
    width:316px;
    height: 380px;
}
#popular .popular_content p,
#hotels .hotels_content p,
#activities .activities_content p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
#main label,
#popular .popular_content span,
#hotels .hotels_content span,
footer .ft_left span
{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--sub-color);
}
#hotels .hotels_grade{
    margin-top: 12px;
}
#hotels .hotels_content span{
    display: flex;
}
#hotels li span::before{
    content:url(../img/icon/mapicon.svg);
    padding: 0 6px;
}
#hotels a> div{
    gap: 4px;
    display: flex;
    justify-content: space-between; 
}
#travel .tips{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#travel .tips h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 16px;
}
#travel .tips span{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--sub-color);
}
#travel .postinfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}
#travel .postinfo>li:first-child::before{
    content: url(../img/icon/travel-icon-1.svg);
    margin-right: 6px;
}
#travel .postinfo>li:nth-child(2)::before{
    content: url(../img/icon/travel-icon-2.svg);
    margin-right: 6px;
}
#travel .postinfo>li:last-child::before{
    content: url(../img/icon/travel-icon-3.svg);
    margin-right: 6px;
}
#travel .postinfo span{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    
}
#about{
    display: flex; 
    gap: 32px; 
    padding-bottom: 120px; 
    justify-content: center;
}
#about>div{
    max-width:548px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
}
#about span.textbox{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #5B5B5B;
}
#about img{
    border-radius: 12px;
}
footer{
    padding: 120px 0; 
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    gap: 64px;
}
footer .ft_left{
    width: 355px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .ft_left .ft_sns{
    display: flex;
    gap: 32px;
}
footer .ft_menu{
    width: 506px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}
footer .ft_menu p{
    width: 125px; 
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

footer .ft_menu_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
footer .ft_menu_item a{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--sub-color);
}

footer label{
    color: #979797;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
footer .ft_right{
    width: 388px;
}
footer .ft_right p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    padding-bottom: 20px;
}
footer .email{
    display: flex;
    width: 388px;
    height: 72px;
    gap: 16px;
}
.inputBox{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 16px 0;
    width: 300px;
}

footer .inputBox::before{
    content: url(../img/icon/msg.svg);
    display: inline-block;
    padding: 16px;
}
.inputBox input[type=text]{
    border: none;
}
.inputBox input::placeholder{
    color: #161414;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
footer .inputBox+input[type=image]{
    background-color: var(--accent-color);
    border-radius: 12px;
    border: none;
    color: white;
    padding: 28px;
    cursor: pointer;
}
section.page{
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: all ease-in-out .7s;
}
section.page.active{
    opacity: 1;
    transform: translateY(0);
}
